body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EEFFDB;
        display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    background: #fffbfb;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#task-input {
    background: #fffbfb;
    padding: 8 px;
    border-radius: 10 px;

    align-items: center;
}

button {
    background: #9CB380;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #3E442B;
    font : white; 
    
}

.completed {
    text-decoration: line-through;
    color: #c51313;
       

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : #254441;
}
